[General]
SunSDR2Host=127.0.0.1
SunSDR2Port=40001

[Keys]
Breack=Escape
CwDown=Prior
CwUp=Next
NextField=space
SendMsg=Return
Clear=Ctrl+a
Help=Ctrl+h

[Windows]
EasyContest\geometry=@Rect(527 122 510 414)
