[General]
DebugLevel=info
SunSDR2Host=127.0.0.1
SunSDR2Port=40001

[Windows]
EasyContest\geometry=@Rect(842 265 500 430)

[Keys]
Breack=Escape
CwDown=Prior
CwUp=Next
NextField=space
SendMsg=Return
Clear=Ctrl+a
Help=Ctrl+h
