[General]
ContestsConfigsDir=contests
CwSpeed=120
DebugLevel=info
SunSDR2Host=127.0.0.1
SunSDR2Port=40001
TimeShift=-180

[Fonts]
CallFontBold=true
CallFontColor=blue
CallFontSize=24
LabelFontBold=false
LabelFontSize=16
NumFontBold=true
NumFontSize=18
RxNumFontColor=green
TxNumFontColor=red

[Keys]
Breack=Escape
Clear=Ctrl+a
CwDown=Prior
CwUp=Next
Help=Ctrl+h
NextField=space
SendMsg=Return

[Windows]
EasyContest\geometry=@Rect(952 461 500 100)
